<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
    
    </style>.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <h4 class="center">Logo</h4>
    </div>
    <div class="banner">
        <h4 class="center">Banner</h4>
    </div>
</div>
<div class="menu">
    <div class="menuRight">
        <p>Home</p>
        <p class="line">Students</p>
        <p class="line">Courses</p>
        <p class="line">About Us</p>
        <p class="line">Contact Us</p>
    </div>
</div>
<div class="main">
    <div class="left">
        <div class="leftTop">
            <p>Introduction</p>
            <p>News</p>
            <p>Education</p>
            <p>Register</p>
            <p>Courses</p>
        </div>
        <div class="leftBottom"></div>
    </div>
    <div class="mid">
        <div class="top">
            <div class="hot-news">Hot news</div>
            <div class="slide">Slide</div>
        </div>
        <div class="bottom">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>
    <div class="right"></div>
</div>
    <div class="footer">
        <div class="footerleft">
            <p>@2012 - TapChiLapTrinh</p>
        </div>
        <div class="footerRight">
            <p>Home</p>
            <p class="line">Students</p>
            <p class="line">Courses</p>
            <p class="line">About Us</p>
            <p class="line">Contact Us</p>
        </div>
    </div>
</body>
</html>